@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.promoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.topContainer {
    margin-bottom: 80px;
}

.topTitle {
    @include title60;
    display: flex;
}

.topSubContainer {
    display: flex;
}

.subTitle {
    // width: 1200px;
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 14px;
}

.viewBtn {
    @include grayBtn;
    width: 196px;
    height: 63px;
    // margin-left: 200px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.card {
    border-style: solid;
    border-radius: 12px;
    border-color: $border-color;
    border-width: 1px;
    padding: 40px;
}

.img {
    position: relative;
    width: 432px;
    height: 318px;
    margin-bottom: 30px;
}

.cardInfoContainer {
    display: flex;
    flex-direction: column;
}

.cardTitle {
    color: $absolute-white-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.cardDescription {
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.readMoreBtn {
    color: $absolute-white-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: underline;
    margin-left: 6px;
}

.readMoreBtn:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.cardOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.optionsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    border-radius: 28px;
    color: $absolute-white-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 10px;
}

.cardIcon {
    margin-right: 4px;
    padding-top: 4px;
}

.cardDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
}

.priceText {
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.priceAmount {
    color: $absolute-white-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.detailsBtn {
    @include purpleBtn;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 54.5px;
    padding-right: 54.5px;
}

.detailsBtn:hover {
    background-color: #141414;
    transition: 0.3s;
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
}

.propertyLink {
    color: $absolute-white-color;
}

.propertyLink:hover {
    opacity: 0.5;
    transition: 0.3s;
    color: #703BF7;
}

.propertyLink2 {
    color: $absolute-white-color;
}

.propertyLink2:hover {
    opacity: 0.5;
    transition: 0.3s;
    color: #703BF7;
}



.bottomContainer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    margin-top: 50px;
    padding-top: 16px;
}

.pageNumber {
    color: $gray-text-color;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.currentPage {
    color: $absolute-white-color;
}

.arrowsContainer {
    display: flex;
}

.arrowLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 69px;
    color: $border-color;
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
}

.arrowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 69px;
    color: $border-color;
    border-style: solid;
    border-width: 1px;
}

@media (min-width: 320px) and (max-width: 1800px) {

    .cardsContainer {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .img {
        width: auto;
    }

    .topSubContainer {
        justify-content: space-between;
        gap: 60px;
    }

    .subTitle {
        width: auto;
    }

    .viewBtn {
        justify-content: center;
        padding: 20px;
        margin-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 1200px) {
    .promoContainer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .topContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .topSubContainer {
        gap: 20px;
    }

    .subTitle {
        margin-top: 0;
    }

    .priceAmount {
        font-size: 20px;
    }

    .questionTitle {
        height: auto;
    }

    .cardOptions {
        flex-direction: column;
        gap: 20px;
    }

    .detailsBtn {
        padding: 10px 10px;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    .cardDetails {
        flex-direction: column;
        gap: 15px;
    }

    .topSubContainer {
        flex-direction: column;
        gap: 20px;
    }
}