@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.findFilterContainer {
    display: flex;
    flex-direction: column;
    color: $gray-text-color;
    background-color: #141414;
    background: linear-gradient(108deg, rgba(38,38,38,0) 100%, rgba(38,38,38,1) 53%);
}

.topFindFilterContainer {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-right: 400px;
    padding-left: 162px;
    padding-bottom: 108px;
    gap: 14px;
}

.titleTop {
    color: $absolute-white-color;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.descriptionTop {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.botFindFilterContainer {
    display: flex;
    flex-direction: column;
}

.searchContainer {
    display: flex;
    gap: 50px;
    margin: 0 310px;
    padding: 20px 20px 20px 14px;
    background-color: #141414;
    box-shadow: 0 0 0 10px #191919;
    border-radius: 12px 12px 0 0;
    z-index: 2;
    margin-bottom: -55px;
}

.inputSearch {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background-color: #141414;
    border: none;
    padding-left: 10px;
    color: $absolute-white-color;
    font-size: 24px;
    font-weight: 500;
}

.inputSearch:focus {
    outline: none;
}

.buttonSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 8px;
    padding: 18px 24px;
    color: #FFFFFF;
    background-color: $purple-btn-color;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.buttonSearchText {
    display: flex;
    flex-direction: row;
}

.filtersContainer {
    background-color: #141414;
    padding-top: 64px;
    border-top: 1px solid #333333;
}

.filtersSubContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: #191919;
    margin-left: 172px;
    margin-right: 172px;
    padding: 10px;
    border-radius: 12px;
}

.filter {
    display: flex;
    align-items: center;
    background-color: #141414;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
}

.dropdownContent {
    display: none;   
    // position: absolute;
    // background-color: #f9f9f9;
    z-index: 1;
  }

.filterText {
    padding-left: 20px;
    white-space: nowrap;
    line-height: 150%;
}

.filterText2 {
    display: block;
}

.filterIcon {
    height: 24px;
    width: 24px;
}

.btnIcon {
    margin-left: auto;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 46px;
    background-color: #1A1A1A;
    background: none;
    border: none;
}

.filter:hover .dropdownContent {
    display: block;
  }

.btnIcon:hover {
    cursor: pointer;
}

.arrowIcon {
    height: 24px;
    width: 24px;
}

@media (min-width: 320px) and (max-width: 1440px) {
    .filtersSubContainer {
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 1200px) {
    .topFindFilterContainer {
        padding: 80px 172px 80px 172px;
    }

    .searchContainer {
        flex-direction: column;
        margin: 0 172px;
    }
    
    .filtersContainer {
        padding-top: 0;
    }

    .filtersSubContainer {
        border-radius: 0 0 20px 20px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .topFindFilterContainer {
        padding: 80px 20px 80px 20px;
    }

    .searchContainer {
        flex-direction: column;
        margin: 0 20px;
    }

    .filtersContainer {
        margin: 0 20px;
        padding-top: 0px;
    }

    .filtersSubContainer {
        margin: 0;
        border-radius: 0 0 20px 20px;
    }
}