@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.propertyWrapper{
    margin: 120px 162px 0 162px;
}

.propertyInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topContainer {
    color: $absolute-white-color;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.topSubContainer {
    display: flex;
    gap: 50px;
}

.textContainer1 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.iconLocation {
    display: flex;
    width: 24px;
    height: 24px;
}

.textContainer2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
}

.priceText {
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.priceAmount {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.botSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 12px;
    padding: 50px;
    gap: 30px;
}

.topImages {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 20px;
    background-color: #141414;
    border-radius: 12px;
}

.propertyImgMin {
    width: 144px;
    height: 94px;
    border-radius: 8px;
}

.botImages {
    display: flex;
    gap: 30px;
}

.propertyImgMax {
    width: 733px;
    height: 583px;
    border-radius: 10px;
}

.scrollImages {
    display: flex;
    padding: 10px;
    background-color: #141414;
    border-radius: 100px;
    align-items: center;
    gap: 10px;
    width: 296px;
}

.arrowLeft {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 69px;
}

.arrowRight {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 69px;
}

.indicatorsContainer {
    display: flex;
    gap: 4px;
}

.indicator1 {
    background-color: #703BF7;
    width: 20px;
    height: 5px;
    border-radius: 60px;
}

.indicator2 {
    background-color: #4D4D4D;
    width: 20px;
    height: 5px;
    border-radius: 60px;
}

.bottomContainer {
    display: flex;
    gap: 30px;
}

.leftSubContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    width: 50%;
}

.leftTitle {
    color: $absolute-white-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.leftDescription {
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.leftInfo {
    display: flex;
    gap: 40px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    color: $absolute-white-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    gap: 10px;
}

.infoIcon {
    margin-right: 4px;
    padding-top: 4px;
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.rightSubContainer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
}

.rightTitle {
    font-size: 24px;
    font-weight: 600;
    color: $absolute-white-color;
    line-height: 150%;
}

.featuresContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature {
    border-left: #703BF7 solid 1px;
    color: $gray-text-color;
    display: flex;
    background-color: #1A1A1A;
    padding: 18px 24px;
}