@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.banner2Container {
    margin-top: 150px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.img1 {
    position: absolute;
    z-index: -1;
    margin-top: 59px;
    right: auto;
    left: 0;
}

.img2 {
    position: absolute;
    z-index: -1;
    right: 0;
    left: auto;
    // width: 100%;
}

.textContainer {
    margin: 100px 40px 100px 162px;
    display: flex;
    flex-direction: column;
    // margin-right: 250px;
}

.title {
    @include title60;
}

.description {
    color: $gray-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 14px;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn {
    @include purpleBtn;
    padding: 18px 24px;
    margin-right: 100px;
}

.btn:hover {
    background-color: #141414;
    transition: 0.3s;
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
}

.link {
    color: $absolute-white-color;
}

.link:hover {
    opacity: 0.5;
    transition: 0.3s;
    color: #703BF7;
}

@media (min-width: 320px) and (max-width: 768px) {
    .banner2Container {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .textContainer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .btn {
        @include purpleBtn;
        padding: 18px 24px;
        margin-right: 0;
    }
}