// .wrapper {
//     position: fixed;
//     top: 0;
//     left: 0;
//     max-width: calc(100% - 17px);
//     z-index: 1000;
//     overflow: hidden;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//     transform: translateY(0);
// }

.wrapperHidden {
    transform: translateY(-100%);
}

.banner {
    height: 49px;
    background-color: #1A1A1A;
    border-style: solid;
    border-color: #262626;
    border-width: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bgimg {
    overflow: hidden;
    z-index: -1;
    opacity: 40%;
  }

.text1 {
    color:#FFFFFF;
    font-size: 18px;
}

.text2 {
    color:#FFFFFF;
    padding-left: 10px;
    font-size: 18px;
    text-decoration: underline;
}

.cross {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-right: 32px;
    right: 0;
    left: auto;
}

.link {
    color: #FFFFFF;
}

.link:hover {
    color: #703BF7;
    transition: 0.3s;
    text-shadow: 0px 0px 10px #703BF7;
}

.cross:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

@media (min-width: 480px) and (max-width: 768px) {
    .text1 {
        font-size: 12px;
    }
    
    .text2 {
        padding-left: 10px;
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .banner{
        display: flex;
        flex-direction: column;
    }

    .text1 {
        font-size: 12px;
    }
    
    .text2 {
        padding-left: 10px;
        font-size: 12px;
    }

    .cross {
        margin-right: 10px;
    }
}